body {
  background-color: #d6e9c1;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: black;
  width: 5%;
}
h1 {
  color: #66bfbf;
}

h3 {
  color: #4cd9a7;
}
img {
  width: 300px;
}
.song {
  color: red;
}
#hover:hover {
  color: brown;
}
.language::selection {
  color: red;
  background-color: rgb(214, 255, 48);
}
#me {
  color: green;
}
.emoji:hover {
  background-color: yellow;
  font-size: x-large;
}
